.place1{
    background:#E9F6EA;
}

#qrHolder img{
    width:200px;
    height: 200px;
    margin:0 auto;
    display: block;
}

.v-card__title{
    color:orange;
}

header .layout .v-avatar{
    border:1px solid green;
}

#adForm .v-file-input{
    display: none;
}

#invokeUpload, .adDiv{
    margin-bottom:15px;
}

.v-application .headline, .adDiv .v-card__title span {
    line-height: 1.7rem!important;
}

.v-application .headline{
    margin-bottom: 10px;
}

.v-card__title span{
    text-shadow: 1px 1px 1px rgba(13,6,4,0.8);
}

.v-chip.v-size--small{
    height: 16px!important;
    padding:1px 3px;
}

.highlighted{
    background-color:#f8fdf7!important;
}

@media (max-width: 320px){
    .v-item-group.v-bottom-navigation--grow .v-btn{
        width:64px!important;
        min-width: 64px!important;
    }
}