.place1{
    background:#E9F6EA;
}

#qrHolder img{
    width:200px;
    height: 200px;
    margin:0 auto;
    display: block;
}

#qrHolderGen{
    margin:0 auto;
}

#qrHolderGen div{
    float:left;
}

#qrHolderGen img{
    width:100px;
    height: 100px;
}

#qrHolderGen tr td img{
    border-radius: 7px;
    border:1px solid green;
}

#qrHolderGen tr td small{
    display:block;
    text-align: center;
    color:green;
}

.v-card__title{
    color:orange;
}

header .layout .v-avatar{
    border:1px solid green;
}

#adForm .v-file-input{
    display: none;
}

#invokeUpload, .adDiv{
    margin-bottom:15px;
}

.v-application .headline, .adDiv .v-card__title span {
    line-height: 1.7rem!important;
}

.v-application .headline{
    margin-bottom: 10px;
}

.v-card__title span{
    text-shadow: 1px 1px 1px rgba(13,6,4,0.8);
}

.v-chip.v-size--small{
    height: 16px!important;
    padding:1px 3px;
}

.highlighted{
    background-color:#f8fdf7!important;
}

.v-application .blue.info-raw{
    padding:5px;
}

.v-application .v-slider__track-fill.primary, .v-application .primary.v-slider__thumb{
    background:green!important;
}

.v-application .primary.lighten-3.v-slider__track-background{
    background-color: #54e463!important;
}

.main-label{
    padding-left:15px;
}

#update-form .v-input__slot{
    margin:0px auto;
    width:90%;
}

#personal{
    background: rgba(169,253,216,0.1);
    padding:15px;
    margin-bottom: 15px;
    border-radius: 20px;
}

#deals-list .row {
    margin-left:20px;
}

#deals-list .deal-item{
    margin-bottom:7px;
}

#deals-list .deal-item:nth-child(even){
    background:rgb(218, 243, 210);
}

.blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@media (max-width: 320px){
    .v-item-group.v-bottom-navigation--grow .v-btn{
        width:64px!important;
        min-width: 64px!important;
    }
}